.breadcrumb {
  margin-top: .25rem;
  padding: .5rem 20% .5rem 20%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.backButton {
  color: #1b1b1b;
  background: none;
  border: 0;
}

.backButton:hover {
  color: #606060;
  cursor: pointer;
}

.backButton:focus {
  outline: 0;
}
